/*location*/
.locationContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
    background: var(--light-color);
    padding: 2rem;
    border-radius: 1rem;
}

.locationBox {  
    height: 40rem;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: var(--black);
    background-color: var(--light-bg);

}

.locationBox .locationName {
    width: max-content;
    margin-inline: auto;
    padding: .2rem 2rem;
    border-radius: 10px;
    font-size: 2rem;
}

.locationBox img {
    width: 35rem;
    border-radius: 10px;
}
