/* overview part*/

.heading {
    font-size: 3rem;
}

.quick-select .box-container {      /*container of ENTIRE quick options*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(55rem, 1fr));
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
    background: var(--light-color);
    padding: 1.5rem;
    border-radius: 1rem;

}

.quick-select .box-container .box {     /*boxes inside container of quick options*/
    border-radius: .5rem;
    background-color: var(--white);
    padding: 2rem;
    height: 27.5rem;
    border-radius: 1rem;
}


.quick-select .box-container .box .title {      /*titles inside boxes of quick options*/
    font-size: 2rem;
    color: var(--black);
}

.quick-select .box-container .box p {           /*paragraphs inside boxes*/
    line-height: 1.5;
    padding-top: 1.5rem;
    color: var(--light-color);
    font-size: 1.8rem;
}

.quick-select .box-container .box p span {      /* values */
    color: var(--main-color);
}

.quick-select .box-container .tutor {
    text-align: center;
}

.quick-select .box-container .tutor p {
    padding-bottom: 1rem;
}

.quick-select .box-container .box .flex {      /*links's container inside quick options*/
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    width: max-content;
    height: 100%;
    align-items: center;
}

.quick-select .box-container .box .flex a {     /*links's values*/
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    background-color: var(--light-bg);
}

.quick-select .box-container .box .flex a i {   /*logo color & margin*/
    margin-right: 1rem;
    color: var(--black)
}

.quick-select .box-container .box .flex a span {    /*logo name color*/
    color:var(--light-color);
}

.quick-select .box-container .box .flex a:hover {   /*links's color when hovered*/
    background-color: var(--black);
}

.quick-select .box-container .box .flex a:hover i {  /*logo color when hovered*/
    color: var(--white);
}

.quick-select .box-container .box .flex a:hover span {  /*logo name color when hovered*/
    color: var(--white);
}


/* employees part */
/*identical to quick options part*/

.employees .box-container {       /*container of ENTIRE employees*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27.5rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
    background: var(--light-color);
    padding: 2rem;
    border-radius: 1rem;
}
.employees .box-container .box {      /*white boxes inside container of employees*/
    border-radius: .5rem;
    background-color: var(--white);
    padding: 2rem;
    height: 27.5rem;
}


.employees .box-container .box h3 {    /*person name inside every box*/
    font-size: 2rem;
    color: var(--black);
}

.employees .box-container .box .circle {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background-color: green;
    display: flex;
    margin: 2rem auto;
}

.employees .box-container .box:nth-child(2) .circle {
    background-color: rgba(255, 0, 0, 0.65);

}

.employees .box-container .box .outcome {
    background-color: var(--light-bg);
    padding: 1rem;
    font-size: 2rem;
    color: var(--black);
    text-align: center;
    border-radius: .5rem;


}

