/*management*/

.management .managementContainer {
    width: 100%;
    background: var(white);
    color: var(--black);

}

.management .addThings {
    background: var(--light-color);
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 4rem;
    border-radius: 2rem;
    gap: 7rem;
}

.management .addThings a {
    font-size: 2rem;
    padding: 1.5rem 12rem;
    background: var(--main-color);
    color: #FFF;
    border-radius: 25px;
    text-decoration: none;
}

.management .addThings a:hover {
    background-color: var(--branch-color);
}

.management .recentlyAdded {
    margin: 3rem 0;
    font-size: 2rem;
    color: var(--black);

}

.management .recentlyAddedContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    background: var(--light-color);
    padding: 2rem;
    border-radius: 10px;


}

.management .recentlyAddedContainer .box{
    margin-inline: auto;
    font-size: 2rem;
    border-radius: 10px;
}

.management .recentlyAddedContainer .box .boxDetails {
    padding: 2rem;
    background: var(--white);
    border-radius: 10px;
}

.management .recentlyAddedContainer .box .boxDetails > * {
    margin-bottom: .5rem;
}

.management .recentlyAddedContainer .box .boxDetails .indented {
    margin: .5rem 2rem;
}

.management .recentlyAddedContainer .box .boxDetails .indented > * {
    margin-bottom: .5rem;

}
.management .recentlyAddedContainer .box .boxViewDetails {
    margin-top: .4rem;
    width: 100%;
    display: flex;
    border-radius: 1rem;
    background: var(--white);
    display: flex;
    justify-content: center;
    padding: 1rem;
}


